<div class="container">
  <section class="calculator">
    <header class="header">
      <h3>Calculator</h3>
    </header><!-- /header -->
    <div class="operation">
      <h4>{{errorMessage}}</h4>
    </div>
    <div class="col-auto">
      <input type="text" class="form-control" id="calc" [value]="displayValue">
    </div>
    <div class="keypad">
      <div class="row">
        <div id="ce" class="key operator" onclick="document.getElementById('calc').value = ''" (click)="clearEverything()" ><span>CE</span></div>
        <div id="c" class="key operator" (click)="clearSingle()"><span>C</span></div>
        <div id="mod" class="key operator" (click)="addOperator('%')"><span>%</span></div>
        <div id="div" class="key operator" (click)="addOperator('/')"><span>/</span></div>
      </div>
      <div class="row">
        <div class="key number" (click)="addNumber(7)"><span>7</span></div>
        <div class="key number" (click)="addNumber(8)"><span>8</span></div>
        <div class="key number" (click)="addNumber(9)"><span>9</span></div>
        <div id="pro" class="key operator" (click)="addOperator('*')"><span>*</span></div>
      </div>
      <div class="row">
        <div class="key number" (click)="addNumber(4)"><span>4</span></div>
        <div class="key number" (click)="addNumber(5)"><span>5</span></div>
        <div class="key number" (click)="addNumber(6)"><span>6</span></div>
        <div id="min" class="key operator" (click)="addOperator('-')"><span>-</span></div>
      </div>
      <div class="row">
        <div class="key number" (click)="addNumber(1)"><span>1</span></div>
        <div class="key number" (click)="addNumber(2)"><span>2</span></div>
        <div class="key number" (click)="addNumber(3)"><span>3</span></div>
        <div id="plus" class="key operator" (click)="addOperator('+')"><span>+</span></div>
      </div>
      <div class="row">
        <div class="big-key number" (click)="addNumber(0)"><span>0</span></div>
        <div class="key number" (click)="addPoint()"><span>.</span></div>
        <div id="equal" class="key operator" (click)="calculate()"><span>=</span></div>
      </div>
    </div>
  </section>
</div>